@{ ViewData["Title"] = "Quienes Somos"; }

<div style="padding: 1rem; text-justify: auto; text-align: justify;">
   <h1 style="text-align: center;">@ViewData["Title"]</h1>
   <p>Descubre uno de los mejores catalogadores de películas para tu colección personal.
    MovieApp es un programa destinado a gestionar y clasificar todas las películas en formato digital que poseas
    en tu colección personal, además de permitir visualizarlos fácilmente.

    Por ejemplo si posees una gran colección de películas, gracias a MovieApp, podrás visualizarlos
    directamente con un solo clic, accediendo en una sola tabla a todos los datos sobre la película.
    MovieApp posee una interfaz intuitiva y fácil de usar permitiendo agregar nueva información en tan
    solo unos pocos pasos.</p>
   <p>
   Al estar conectado con MovieApp, todo lo que marquemos como visto se añadirá a nuestra biblioteca ademas:</p>
   <p>
      Organiza y mantén el control de tu colección de películas. 
   </p>

   <p>
      Saber todo lo que necesitemos acerca de una película. 
   </p>
</div>

